:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1512px;
    height: 982px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .flex-row-be {
    position: relative;
    width: 1473px;
    height: 243px;
    margin: -52px 0 0 -3px;
    z-index: 42;
  }
  .white-black-modern {
    position: absolute;
    width: 309px;
    height: 243px;
    top: 0;
    left: 0;
    background: url(./assets/images/d9dd44b9d286e5e30f6170226bdd96e0a41689c4.png)
      no-repeat center;
    background-size: cover;
    z-index: 5;
  }
  .rectangle {
    position: relative;
    width: 152px;
    height: 25px;
    margin: 127px 0 0 68px;
    background: #fbf4f2;
    z-index: 6;
    overflow: visible auto;
  }
  .component {
    position: relative;
    width: 142px;
    height: 20px;
    margin: 3px 0 0 8px;
    font-size: 0px;
    background: rgba(42, 42, 42, 0);
    z-index: 31;
    overflow: hidden;
  }
  .concept-artist {
    display: block;
    position: relative;
    height: 24px;
    margin: -80px 0 0 10px;
    color: #000000;
    font-family: Actor, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .ui-ux-designer {
    display: block;
    position: relative;
    height: 24px;
    margin: 12px 0 0 6px;
    color: #000000;
    font-family: Actor, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
  }
  .digital-designer {
    display: block;
    position: relative;
    height: 24px;
    margin: 16px 0 0 3px;
    color: #000000;
    font-family: Actor, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .fontisto-email {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 52px;
    left: 309px;
    overflow: hidden;
  }
 
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 7.94%;
    height: 21.4%;
    top: 37.86%;
    left: 68.23%;
    padding: 10px 20px 10px 20px;
    z-index: 36;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 77px;
    height: 32px;
    color: #000000;
    font-family: Raleway, var(--default-font-family);
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    z-index: 37;
  }
  .tab-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 7.94%;
    height: 21.4%;
    top: 37.86%;
    left: 76.17%;
    padding: 10px 20px 10px 20px;
    z-index: 38;
  }
  .work {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 67px;
    height: 32px;
    color: #000000;
    font-family: Raleway, var(--default-font-family);
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    z-index: 39;
  }
  .tab-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 7.94%;
    height: 21.4%;
    top: 37.86%;
    left: 84.11%;
    padding: 10px 20px 10px 20px;
    z-index: 40;
  }
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 65px;
    height: 32px;
    color: #000000;
    font-family: Raleway, var(--default-font-family);
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    z-index: 41;
  }
  .tab-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 7.94%;
    height: 21.4%;
    top: 37.86%;
    left: 92.06%;
    padding: 10px 20px 10px 20px;
    z-index: 42;
  }
  .rectangle-4 {
    flex-shrink: 0;
    position: absolute;
    width: 117px;
    height: 2px;
    top: 50px;
    left: 0;
    background: #000000;
    z-index: 44;
    border-radius: 2px;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 98px;
    height: 32px;
    color: #000000;
    font-family: Raleway, var(--default-font-family);
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    z-index: 43;
  }
  .have-a-project {
    display: block;
    position: relative;
    height: 39px;
    margin: 70px 0 0 48px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
  }
  .lets-connect {
    display: block;
    position: relative;
    height: 176px;
    margin: 19px 0 0 282px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 134px;
    font-weight: 600;
    line-height: 176px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
  }
  .drop-me-email {
    display: block;
    position: relative;
    height: 26px;
    margin: 22px 0 0 661px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 21px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    white-space: nowrap;
    opacity: 0.61;
    z-index: 68;
  }
  .frame {
    position: relative;
    width: 465px;
    height: 42px;
    margin: 0 0 0 524px;
    font-size: 0px;
    z-index: 47;
    overflow: hidden;
  }
  .love-to-hear {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 380px;
    height: 39px;
    margin: -60px 0 0 43px;
    color: rgba(108, 0, 0, 0.84);
    font-family: Sora, var(--default-font-family);
    font-size: 31px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    white-space: nowrap;
    z-index: 49;
  }
  .email {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 461px;
    height: 39px;
    margin: 23px 0 0 8px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 31px;
    font-weight: 300;
    line-height: 39px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 48;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 13.52px;
    height: 11.381px;
    margin: 55px 0 0 751.585px;
    z-index: 28;
  }
  .f {
    flex-shrink: 0;
    position: relative;
    height: 11.062px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(0.72deg);
    z-index: 27;
  }
  .i {
    flex-shrink: 0;
    position: relative;
    height: 11.381px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(12.15deg);
    z-index: 28;
  }
  .x {
    display: block;
    position: relative;
    height: 12.068px;
    margin: -9.528px 0 0 765.687px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(25.25deg);
    z-index: 29;
  }
  .o {
    display: block;
    position: relative;
    height: 12.202px;
    margin: -8.888px 0 0 727.643px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-41.2deg);
    z-index: 26;
  }
  .flex-row-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 69.349px;
    height: 13.527px;
    margin: -6.744px 0 0 722.895px;
    z-index: 30;
  }
  .t {
    flex-shrink: 0;
    position: relative;
    height: 10.262px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.262px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-48.42deg);
    z-index: 25;
  }
  .dot {
    flex-shrink: 0;
    position: relative;
    height: 13.527px;
    color: rgba(175, 4, 4, 0.55);
    font-family: Sora, var(--default-font-family);
    font-size: 11px;
    font-weight: 100;
    line-height: 13.527px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(43.82deg);
    z-index: 30;
  }
  .flex-row-cba {
    position: relative;
    width: 92px;
    height: 51.714px;
    margin: -5.3px 0 0 710px;
    z-index: 24;
  }
  .ellipse {
    position: absolute;
    width: 56.42%;
    height: 100%;
    top: 0;
    left: 23.01%;
    background: url(./assets/images/bd9c5664-63c4-4f4a-837e-59229a0c09f0.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .s {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18.64%;
    top: 9.06%;
    left: 3.73%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 9.64px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-61.29deg);
    z-index: 23;
  }
  .h {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16.93%;
    top: 20.9%;
    left: 84.52%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 8.756px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(80.21deg);
    z-index: 10;
  }
  .g {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17.67%;
    top: 28.5%;
    left: 0;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 9.135px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-71.65deg);
    z-index: 22;
  }
  .vector-5 {
    position: absolute;
    width: 19.58%;
    height: 41.22%;
    top: 29.55%;
    left: 40.96%;
    background: url(./assets/images/3a526f6e-ff4d-4e70-9c02-7a930709fbc1.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 24;
  }
  .o-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14.44%;
    top: 44.42%;
    left: 87.25%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 7.47px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(98.05deg);
    z-index: 11;
  }
  .u {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12.84%;
    top: 51.51%;
    left: 0.35%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 6.637px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-93.4deg);
    z-index: 21;
  }
  .v {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16.35%;
    top: 62.88%;
    left: 86%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 8.454px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(110.12deg);
    z-index: 12;
  }
  .b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17.25%;
    top: 69.64%;
    left: 3.47%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 8.923px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-106.94deg);
    z-index: 20;
  }
  .e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20.64%;
    top: 77.56%;
    left: 82.11%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(127.9deg);
    z-index: 13;
  }
  .r {
    display: block;
    position: relative;
    height: 10.769px;
    margin: -3.738px 0 0 779.977px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(137.3deg);
    z-index: 14;
  }
  .e-7 {
    display: block;
    position: relative;
    height: 11.148px;
    margin: -8.712px 0 0 723.736px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-133.24deg);
    z-index: 19;
  }
  .flex-row-cfc {
    position: relative;
    width: 46.597px;
    height: 15.484px;
    margin: -6.359px 0 0 732.357px;
    z-index: 18;
  }
  .h-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 80.7%;
    top: 0;
    left: 0;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-148.58deg);
    z-index: 18;
  }
  .o-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 80.28%;
    top: 9.22%;
    left: 79.23%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(158.24deg);
    z-index: 15;
  }
  .t-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 77.36%;
    top: 22.64%;
    left: 22.21%;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(-162.86deg);
    z-index: 17;
  }
  .n {
    display: block;
    position: relative;
    height: 11.717px;
    margin: -9.889px 0 0 760.271px;
    color: #000000;
    font-family: Sora, var(--default-font-family);
    font-size: 8px;
    font-weight: 600;
    line-height: 10.52px;
    text-align: left;
    white-space: nowrap;
    transform: rotate(172.13deg);
    z-index: 16;
  }
  .footer-background {
    position: relative;
    width: 1512px;
    height: 220px;
    margin: 10.148px 0 0 0;
    background: #313131;
    z-index: 2;
  }
  .flex-row-b {
    position: absolute;
    top: 8px;
    right: 77px;
    bottom: 30px;
    left: 51px;
    z-index: 66;
  }
  .yuganshi-dhingra {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 77px;
    top: calc(50% - 91px);
    left: calc(50% - 692px);
    color: #f1ecec;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
  }
  .important-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: calc(50% - 78px);
    left: calc(50% - 4px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 55;
  }
  .contact-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: calc(50% - 78px);
    left: calc(50% - -237px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
  }
  .social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 29px;
    top: calc(50% - 78px);
    left: calc(50% - -564px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .icon-linkedin {
    position: absolute;
    width: 3.47%;
    height: 26.37%;
    top: 28.02%;
    left: 90.75%;
    z-index: 64;
    overflow: hidden;
  }
  .vector-c {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/e95cf9c3-da53-46fa-87da-6407c301b3a3.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 65;
  }
  .icon-github {
    position: absolute;
    width: 3.47%;
    height: 26.37%;
    top: 28.02%;
    left: 96.53%;
    z-index: 66;
    overflow: hidden;
  }
  .vector-d {
    position: relative;
    width: 48px;
    height: 47.2px;
    margin: 0 0 0 0;
    background: url(./assets/images/411105c1-c582-4312-a9f3-3b1170d9d682.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 67;
  }
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 208px;
    height: 120px;
    top: calc(50% - 29px);
    left: calc(50% - 2px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-overflow: initial;
    z-index: 57;
    overflow: hidden;
  }
  .title-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 263px;
    height: 60px;
    top: calc(50% - 29px);
    left: calc(50% - -248px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-overflow: initial;
    z-index: 58;
    overflow: hidden;
  }
  .fontisto-email-f {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 67px;
    left: 912px;
    z-index: 60;
    overflow: hidden;
  }
  .vector-10 {
    position: relative;
    width: 21.999px;
    height: 14.561px;
    margin: 3.667px 0 0 0;
    background: url(./assets/images/745998d5-8e9e-4ec4-82b6-f7c66ec6d254.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 61;
  }
  .gridicons-location {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 95px;
    left: 912px;
    z-index: 62;
    overflow: hidden;
  }
  .vector-11 {
    position: relative;
    width: 12.833px;
    height: 18.333px;
    margin: 1.833px 0 0 4.583px;
    background: url(./assets/images/7cb6fb06-d217-4248-9c2e-a38fff9726ea.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 63;
  }
  .title-12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 570px;
    height: 90px;
    top: calc(50% - 10px);
    left: calc(50% - 705px);
    color: #f1ecec;
    font-family: Nunito, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    z-index: 56;
  }
  .flex-row-b-13 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 194px;
    height: 18px;
    margin: 2px 0 0 659px;
    z-index: 52;
  }
  .group {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(./assets/images/e898e92c-f460-4575-ba6f-7b168a2af4a9.png)
      no-repeat center;
    background-size: cover;
    z-index: 52;
  }
  .yuganshi-dhingra-14 {
    flex-shrink: 0;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Quicksand, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
  }
  .hero-img {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
    background: url(./assets/images/8b87ddba-fe6c-4c40-8bd7-1193157c563c.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  