:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1512px;
  height: 982px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 1473px;
  height: 252px;
  margin: -52px 0 0 -3px;
  z-index: 58;
}
.abstract-beauty-logo {
  position: absolute;
  width: 309px;
  height: 243px;
  top: 0;
  left: 0;
  background: url(./assets/images/d9dd44b9d286e5e30f6170226bdd96e0a41689c4.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.rectangle {
  position: relative;
  width: 152px;
  height: 25px;
  margin: 127px 0 0 68px;
  background: #faf8f8;
  z-index: 4;
  overflow: visible auto;
}
.component {
  position: relative;
  width: 142px;
  height: 20px;
  margin: 3px 0 0 8px;
  font-size: 0px;
  background: rgba(42, 42, 42, 0);
  z-index: 33;
  overflow: hidden;
}
.concept-artist {
  display: block;
  position: relative;
  height: 24px;
  margin: -80px 0 0 10px;
  color: #000000;
  font-family: Actor, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.ui-ux-designer {
  display: block;
  position: relative;
  height: 24px;
  margin: 12px 0 0 6px;
  color: #000000;
  font-family: Actor, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.digital-designer {
  display: block;
  position: relative;
  height: 24px;
  margin: 16px 0 0 3px;
  color: #000000;
  font-family: Actor, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 7.94%;
  height: 20.63%;
  top: 36.51%;
  left: 68.23%;
  padding: 10px 20px 10px 20px;
  z-index: 48;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 77px;
  height: 32px;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 49;
}
.tab-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 7.94%;
  height: 20.63%;
  top: 36.51%;
  left: 76.17%;
  padding: 10px 20px 10px 20px;
  z-index: 50;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 67px;
  height: 32px;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 51;
}
.tab-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 7.94%;
  height: 20.63%;
  top: 36.51%;
  left: 84.11%;
  padding: 10px 20px 10px 20px;
  z-index: 52;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 65px;
  height: 32px;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 53;
}
.tab-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 7.94%;
  height: 20.63%;
  top: 36.51%;
  left: 92.06%;
  padding: 10px 20px 10px 20px;
  z-index: 54;
}
.page-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 98px;
  height: 32px;
  color: #000000;
  font-family: Raleway, var(--default-font-family);
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 55;
}
.rectangle-5 {
  position: absolute;
  width: 117px;
  height: 2px;
  top: 142px;
  left: 1122px;
  background: #000000;
  z-index: 58;
  border-radius: 2px;
}
.selected-projects {
  position: absolute;
  width: 1407px;
  height: 53px;
  top: 199px;
  left: 50%;
  transform: translate(-48.37%, 0);
  opacity: 0.42;
  z-index: 37;
  overflow: hidden;
}
.selected-projects-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  top: 0;
  left: 2.71%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 42px;
  font-weight: 300;
  line-height: 52.92px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.vector {
  position: absolute;
  width: 1.62%;
  height: 42.69%;
  top: 27.71%;
  left: 94.79%;
  background: url(./assets/images/6c6ba3a3-dc34-496a-a103-88bbe0f5256e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}
.vector-7 {
  position: absolute;
  width: 1.62%;
  height: 42.69%;
  top: 27.71%;
  left: 141.79%;
  background: url(./assets/images/b3fe010b-ddae-4122-816e-008a750a2931.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}
.vector-8 {
  position: absolute;
  width: 1.62%;
  height: 42.69%;
  top: 27.71%;
  left: 0.43%;
  background: url(./assets/images/5f8d6826-4c01-42bf-8b35-ad06e5b8bc1b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 39;
}
.vector-9 {
  position: absolute;
  width: 1.62%;
  height: 42.69%;
  top: 27.71%;
  left: 47.64%;
  background: url(./assets/images/745c1a1e-8e65-416c-a72f-a3034730b010.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1410px;
  height: 607px;
  margin: 7px 0 0 51px;
  z-index: 56;
}
.cuesine-border {
  flex-shrink: 0;
  position: relative;
  width: 443px;
  height: 607px;
  background: #005b8a;
  border: 2px solid #ffffff;
  z-index: 43;
}
.cuesine-img {
  position: relative;
  width: 439px;
  height: 603px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/b86e1a16-eced-483b-a93d-77e20d7a1174.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.dreamcenter-border {
  flex-shrink: 0;
  position: relative;
  width: 443px;
  height: 607px;
  background: #005b8a;
  border: 2px solid #ffffff;
  z-index: 56;
}
.dreamcenter-proj-img {
  position: relative;
  width: 439px;
  height: 603px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/07ee55b99c55db4ff48049da51ee09d704ea5b9d.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.instatravel-border {
  flex-shrink: 0;
  position: relative;
  width: 443px;
  height: 607px;
  background: #005b8a;
  border: 2px solid #ffffff;
  z-index: 45;
}
.instatravel-img {
  position: relative;
  width: 439px;
  height: 603px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/92e9ec67-2937-4bfb-8f7d-305db29021aa.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.flex-row-eeb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 13.52px;
  height: 11.381px;
  margin: 33px 0 0 751.585px;
  z-index: 26;
}
.f {
  flex-shrink: 0;
  position: relative;
  height: 11.062px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(0.72deg);
  z-index: 25;
}
.i {
  flex-shrink: 0;
  position: relative;
  height: 11.381px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(12.15deg);
  z-index: 26;
}
.x {
  display: block;
  position: relative;
  height: 12.068px;
  margin: -9.528px 0 0 765.687px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(25.25deg);
  z-index: 27;
}
.o {
  display: block;
  position: relative;
  height: 12.202px;
  margin: -8.888px 0 0 727.643px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-41.2deg);
  z-index: 24;
}
.flex-row-dc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 69.349px;
  height: 13.527px;
  margin: -6.744px 0 0 722.895px;
  z-index: 28;
}
.t {
  flex-shrink: 0;
  position: relative;
  height: 10.262px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.262px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-48.42deg);
  z-index: 23;
}
.dot {
  flex-shrink: 0;
  position: relative;
  height: 13.527px;
  color: rgba(175, 4, 4, 0.55);
  font-family: Sora, var(--default-font-family);
  font-size: 11px;
  font-weight: 100;
  line-height: 13.527px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(43.82deg);
  z-index: 28;
}
.hero-img {
  position: absolute;
  width: 1512px;
  height: 982px;
  top: 0;
  left: 0;
  background: url(./assets/images/ed03558a-0bdf-432b-8306-d73e16c699d0.png)
    no-repeat center;
  background-size: cover;
}
.flex-row-f {
  position: absolute;
  width: 6.08%;
  height: 5.27%;
  top: 88.16%;
  left: 46.96%;
  z-index: 22;
}
.ellipse {
  position: absolute;
  width: 56.42%;
  height: 100%;
  top: 0;
  left: 23.01%;
  background: url(./assets/images/c9b22e0c-1c52-4ab3-b74d-476a4c137175.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
.s {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18.64%;
  top: 9.06%;
  left: 3.73%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 9.64px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-61.29deg);
  z-index: 21;
}
.h {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16.93%;
  top: 20.9%;
  left: 84.52%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 8.756px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(80.21deg);
  z-index: 8;
}
.g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17.67%;
  top: 28.5%;
  left: 0;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 9.135px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-71.65deg);
  z-index: 20;
}
.vector-a {
  position: absolute;
  width: 19.58%;
  height: 41.22%;
  top: 29.55%;
  left: 40.96%;
  background: url(./assets/images/743cf8ca-0356-4b7a-828b-6e1561cf08fc.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.o-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14.44%;
  top: 44.42%;
  left: 87.25%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 7.47px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(98.05deg);
  z-index: 9;
}
.u {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 12.84%;
  top: 51.51%;
  left: 0.35%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 6.637px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-93.4deg);
  z-index: 19;
}
.v {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16.35%;
  top: 62.88%;
  left: 86%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 8.454px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(110.12deg);
  z-index: 10;
}
.b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 17.25%;
  top: 69.64%;
  left: 3.47%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 8.923px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-106.94deg);
  z-index: 18;
}
.e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20.64%;
  top: 77.56%;
  left: 82.11%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(127.9deg);
  z-index: 11;
}
.flex-row-de {
  position: absolute;
  height: 5.4%;
  top: 92.36%;
  right: 51px;
  left: 707px;
  z-index: 30;
}
.vector-c {
  position: absolute;
  width: 24px;
  height: 25.48px;
  top: 0;
  right: 0;
  background: url(./assets/images/55960ab5-01da-4ff3-99d9-7e68cedd5d11.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.vector-d {
  position: relative;
  width: 20.16px;
  height: 23.264px;
  margin: 1.108px 0 0 1.92px;
  z-index: 31;
  overflow: hidden;
}
.vector-e {
  position: relative;
  width: 10.08px;
  height: 18.611px;
  margin: -36.558px 0 0 5.04px;
  background: url(./assets/images/be5f630f-4104-41f1-b3cb-f4e3b55fa6aa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.r {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20.32%;
  top: 12.63%;
  left: 9.68%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(137.3deg);
  z-index: 12;
}
.e-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21.03%;
  top: 16.51%;
  left: 2.22%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-133.24deg);
  z-index: 17;
}
.h-10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23.58%;
  top: 25.55%;
  left: 3.36%;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-148.58deg);
  z-index: 16;
}
.carrot {
  position: absolute;
  width: 97px;
  height: 38px;
  top: 15px;
  left: 0;
  background: url(./assets/images/c6933dd0-88db-4000-9c1b-c61858024bf8.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.flex-row-ca {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 36.249px;
  height: 14.057px;
  margin: -0.03px 0 0 35.705px;
  z-index: 15;
}
.t-11 {
  flex-shrink: 0;
  position: relative;
  height: 11.978px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-162.86deg);
  z-index: 15;
}
.o-12 {
  flex-shrink: 0;
  position: relative;
  height: 12.43px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(158.24deg);
  z-index: 13;
}
.n {
  display: block;
  position: relative;
  height: 11.717px;
  margin: -9.889px 0 0 53.271px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 8px;
  font-weight: 600;
  line-height: 10.52px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(172.13deg);
  z-index: 14;
}
.want-to-see-my-skills {
  position: absolute;
  width: 182px;
  height: 18px;
  top: 914px;
  left: 1247px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.99);
  font-family: Actor, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 59;
}
/*@media only screen and (max-width: 600) 
{
  grid-template-rows::after
  grid-template-columns::backdrop
  grid-template-areas::content
  ;
}*/
@media only screen and (min-width: 300px) and (max-width: 900px) {
  /* Styles for screens with a maximum width of 600px (typical mobile devices) */
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "Cuesine"
    "InstaTravel"
    "Dreamcenter"
    "cuesine-border"
    "cuesine-img"
    "dreamcenter-border"
    "dreamcenter-proj-img"
    "instatravel-border"
    "instatravel-img"
    ;
   
  }

  /* Add more specific styles for elements as needed */
}

